body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

img {
    max-width: 90%;
    max-height: 90vh;
    border: 5px solid white;
    border-radius: 10px;
}
