.h1{
    font-size: 80px;
    color: #434343;
}

body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
}

canvas, img {
    width: 50%;
    margin-top: 5px;
    border: 10px solid #434343;
    border-radius: 20px; 
}
